#div-logo {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-position: left top;
    border: none ;
    margin: 0%;
    margin-top: 0%;
    padding: 0px;
    
}
#logo  {
    height: 170px;
    width: 15%;
    position: relative;
    top: 40px;
    left: 15px;
}
h1 {
    width: 90%;
    text-align: left;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 20px;
}
p {
    font-size: larger;
    color: rgba(0, 0, 0, 0.425);
    margin: 0;
}
#autore {
    color: #3ab3e7;
    font-weight: 900;
}
.data {
    font-size: small;
    position: relative;
    bottom: 5px;
}
section >header {
    position: fixed;
    background-position: center;
}
body {
    font-size: medium;
}
main {
    text-align: justify;
    padding-top: 30px;
}
article {
    padding-top: 25px;
    padding-bottom: 20px;
}
#evidenziato {
    background-color: yellow;
}
table {
    padding-top: 15px;
    text-align: left;
    font-weight: 700;
    width: 100%;
    border: 0;
}
h2 {
    color: #aaaaaa;
    font-size: 20px;

}
h3 {
    font-size: 25px;
    position: relative;
    left: 15px;
    top: 13px;
}
#first-link {
    color: white;
    background-image: url(../img/monitor.jpg);
    width: 311px;
    height: 208px;
}
#second-link {
    color: white;
    width: 311px;
    height: 208px;
    background-image: url(../img/graph.jpg);
}